/* body, html{
    width: 100%;
    height: 1511px;
}
*/

.navbar{
    height: 60px;
}


.nav-item > a{
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    
} 

.bg-black{
    background-color: #1F1F1F;
}

.mr-auto{
    flex: 1;    
}

#brand{
   margin-left: 100px;
}

.menu-container{
    margin-top: 60px;
   

}

.menu-row{
    display: flex;
    height: 104px;
    justify-content: space-around;
    align-items: center;
}

.menu-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-basis: 104px; 
}

.text{

    text-decoration: none;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    
    text-align: center;
    color: #1F1F1F;
    margin-top: 5px;
}

#sticky-footer2{
    height: 358px;
    flex-shrink: none;
    background-color: #1f1f1fd9;
}

.font{
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 16px;

    color: #FFFFFF;
}

.dropdown-item{
    font-family: Source Sans Pro;
    font-style: normal;
    font-size: 13px;
    line-height: 16px;
    text-decoration: none;
    color: #FFFFFF;
    
}

.btn{
    border-top: 2px solid #FFFFFF;
    color:#FFFFFF;
}

#sticky-footer {
    height: 113px;
    flex-shrink: none;
}

.bg-d{
    background-color: #1F1F1F;
}

.text-center{
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: white;
    
}

 .logo{
    margin-left: -40px;
}

.social-sites{
    margin-right: -90px;
}
